include header
div(class='site-nav')
 div(class='close-button')
  button(class='button-close') x
 h3(class='card-header') Товары
  div(id='category-list')
 h3(class='card-header') Корзина
 a(href="/order" target='_blank')
  button(class='button-close-nav') Оформить заказ
 div(class='card-nav')
 

script(src="js/nav.js") 
script(src="js/cart.js") ;
<script src="https://kit.fontawesome.com/d1933663c1.js" crossorigin="anonymous"></script>